{% extends "layout.html" %}
{% block content %}
    <fieldset class="justify-content-start">
        <h1 class="my-3 text-center">Editar lista</h1>
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-4">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.nome.label(class="form-control-label") }}
                        {% if form.nome.errors %}
                            {{ form.nome(class="form-control form-control-md is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.nome.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.nome(class="form-control mb-3 form-control-md", value=lista.nome) }}
                        {% endif %}
                    </div>
                    <div>

                        <label class="form-control-label" for="descricao">Descrição da lista</label>
                        {% if form.descricao.errors %}
                            <textarea class="form-control mb-3 form-control-md is-invalid" id="descricao" name="descricao" required>{{ lista.descricao }}</textarea>
                            <div class="invalid-feedback">
                                {% for error in form.descricao.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <textarea class="form-control mb-3 form-control-md" id="descricao" name="descricao" required>{{ lista.descricao }}</textarea>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col float-start">
                            <a class="btn btn-secondary btn-md float-start" href="{{ url_for('listas', id_lista=lista.id) }}">Cancelar</a>
                        </div>
                        <div class="col float-end">
                            {{ form.submit(class="btn btn-primary float-end") }}
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </fieldset>
{% endblock content %}