{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="input-group mt-3 ps-3">
                        {% if form.nome.errors %}
                            {{ form.nome(class="form-control form-control-md is-invalid", placeholder='Buscar lista') }}
                            <div>
                                {{ form.submit(class="btn btn-primary ms-2") }}
                            </div>
                            <div class="invalid-feedback">
                                {% for error in form.nome.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.nome(class="form-control mb-3 form-control-md", placeholder='Buscar lista') }}
                            <div>
                                {{ form.submit(class="btn btn-primary ms-2") }}
                            </div>
                        {% endif %}
                    </div>
                </form>
                <ul class="list-group-CUSTOM">
                    <li class="create-list">
                        <a href="{{ url_for('criar_lista') }}"> + Criar lista</a>
                    </li>
                    {% for lista in listas %}
                        <a href="{{ url_for('listas', id_lista=lista.id) }}">
                            <li class="list-group-item-CUSTOM">{{ lista.nome }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
            {% if lista_ativa %}
                <div class="col-9 card-group-CUSTOM">
                    <div class="justify-content-between d-flex mt-2">
                        <div>
                            <h1>{{ lista_ativa.nome }}</h1>
                            <div class="progress">
                                <div id="progresso" class="progress-bar" role="progressbar" style="width: {{ porcentagem_conclusao }}%"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <a class="nav-link" href="{{ url_for('editar_lista', id_lista=lista_ativa.id) }}">
                                <img src="{{ url_for('static', filename='img/editIcon.png') }}" alt="Editar lista" width="20em" height="20em">
                            </a>
                            <a class="nav-link" href="{{ url_for('excluir_lista', id_lista=lista_ativa.id) }}">
                                <img src="{{ url_for('static', filename='img/deleteIcon.png') }}" alt="Excluir lista" width="20em" height="20em">
                            </a>
                            <a href="{{ url_for('criar_tarefa', id_lista=lista_ativa.id) }}" class="nav-link">
                                <img src="{{ url_for('static', filename='img/addIcon.png') }}" alt="Criar tarefa" width="20em" height="20em">
                            </a>
                        </div>
                    </div>

                    <div class="mt-4 w-90">
                        <p class="text-justify-CUSTOM">
                            {{ lista_ativa.descricao }}
                        </p>
                    </div>
                    <div class="row row-cols-auto g-4 mt-3">
                        {% for tarefa in lista_ativa.tarefas %}
                            <div id="tarefa{{ tarefa.id }}" class="col">
                                <div class="card border-dark mb-3" style="max-width: 18rem;">
                                    <div class="card-header justify-content-between d-flex" style="background-color: {{ tarefa.cor }};">
                                        <div class="text-left">
                                            {{ tarefa.titulo }}
                                        </div>
                                        <div class="row text-right">
                                            <div class="task-buttons">
                                                <a href="{{ url_for('editar_tarefa', id_lista=lista_ativa.id, id_tarefa=tarefa.id) }}">
                                                    <img src="{{ url_for('static', filename='img/editIcon.png') }}" width="20em" height="20em" alt="Editar Tarefa">
                                                </a>
                                                <a style="cursor: pointer" id="excluir_tarefa{{ tarefa.id }}">
                                                    <img src="{{ url_for('static', filename='img/deleteIcon.png') }}" width="20em" height="20em" alt="Excluir tarefa">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text text-justify-CUSTOM">
                                            {{ tarefa.descricao }}
                                        </p>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <div class="form-check">
                                            <label class="form-check-label" for="{{ "tarefa"+tarefa.id|string }}">
                                                Feito!
                                            </label>
                                            <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                   id="concluido_tarefa{{ tarefa.id }}" value="option1" {% if tarefa.concluida %} checked {% endif %}>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        let qtd_tarefas = {{ lista_ativa.tarefas|length }};
        let qtd_concluidas = {{ porcentagem_conclusao }};
        qtd_concluidas *= qtd_tarefas / 100;
        {% for tarefa in lista_ativa.tarefas %}
            $('#concluido_tarefa' + {{ tarefa.id }}).on('change', function(){
                let checkedValue = $(this).is(':checked');
                $.ajax({
                    type: 'PATCH',
                    url: '{{ url_for('listas') }}',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(
                        {
                            'id_tarefa': {{ tarefa.id }},
                            'concluida': checkedValue
                        }
                    ),
                    complete: function(){
                        let progressbar = document.getElementById("progresso");
                        if (checkedValue === true) {
                            qtd_concluidas += 1;
                        }
                        else {
                            qtd_concluidas = Math.round(qtd_concluidas) - 1;
                        }
                        progressbar.style.width = (qtd_concluidas * 100 / qtd_tarefas).toString() + '%';
                    }
                })
            });
            $('#excluir_tarefa' + {{ tarefa.id }}).on('click', function(){
                $.ajax({
                    type: 'DELETE',
                    url: '{{ url_for('excluir_tarefa', id_lista=lista_ativa.id, id_tarefa=tarefa.id) }}',
                    complete: function(){
                        let progressbar = document.getElementById("progresso");
                        qtd_tarefas = Math.round(qtd_tarefas) - 1;
                        let checkedValue = document.getElementById('concluido_tarefa{{ tarefa.id }}').checked;

                        if (checkedValue === true) {
                            qtd_concluidas = Math.round(qtd_concluidas) - 1;
                        }

                        let porcentagem = 0;
                        if (qtd_tarefas !== 0) {
                            porcentagem = qtd_concluidas * 100 / qtd_tarefas
                        }

                        progressbar.style.width = porcentagem.toString() + '%';
                        let tarefa = document.getElementById("tarefa{{ tarefa.id }}");
                        tarefa.remove();
                    }
                })
            });
        {% endfor %}
    </script>
{% endblock content %}