{% extends "layout.html" %}
{% block content %}
    <div class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Título do modal
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p>
                        Texto do modal
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="btn-toolbar justify-content-between" aria-label="Toolbar with button groups">
                            <button data-bs-dismiss="modal" id="cancelar" type="button" class="btn btn-secondary">Cancelar</button>
                            <button data-bs-dismiss="modal" id="confirmar" type="button" class="btn btn-danger">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-2 container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="input-group mt-3">
                    <input title="Para buscar tarefas, adicione ':' como primeiro caractere" onkeyup="filterList()" id="busca" type="text" name="busca" class="form-control form-control-md" placeholder="Buscar">
                </div>
                <div class="mt-3 ms-1">
                    <a id="criar_lista" style="cursor: pointer" class="text-decoration-none">+ Criar lista</a>
                    <div id="listas" class="mt-2 list-group overflow-auto" style="height: 79vh">

                    </div>
                </div>

            </div>
            <div class="col-9 card-group-CUSTOM">
                <div class="justify-content-between d-flex mt-2">
                    <div>
                        <h1 id="nome_lista">
                            Selecione ou crie uma lista!
                        </h1>
                        <div class="invisible progress">
                            <div id="progresso" class="progress-bar" role="progressbar" style="width: 0"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div id="botoes_lista" class="invisible d-flex">
                        <a id="editar_lista" class="nav-link" style="cursor: pointer">
                            <img src="{{ url_for('static', filename='img/editIcon.png') }}" alt="Editar lista" width="20em" height="20em">
                        </a>
                        <a id="excluir_lista" class="nav-link" style="cursor: pointer">
                            <img src="{{ url_for('static', filename='img/deleteIcon.png') }}" alt="Excluir lista" width="20em" height="20em">
                        </a>
                        <a style="cursor: pointer" id="criar_tarefa" class="nav-link">
                            <img src="{{ url_for('static', filename='img/addIcon.png') }}" alt="Criar tarefa" width="20em" height="20em">
                        </a>
                    </div>
                </div>

                <div class="mt-4 w-90">
                    <p id="descricao_lista" class="text-justify-CUSTOM">

                    </p>
                </div>
                <div id="tarefas" class="row row-cols-auto g-4 mt-3">

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static', filename='js/scriptListas.js') }}"></script>
{% endblock content %}