{% extends "layout.html" %}
{% block content %}
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i
        |Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    </head>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center" style="background-image: url({{ url_for('static', filename='img/background.jpg') }});">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1>
                        <img src="{{ url_for('static', filename='img/ToDoLogo.png') }}" alt="">
                    </h1>
                    <h2 style="color: #ffaa00;">Organizando suas tarefas de maneira simples </h2>
                </div>
            </div>

            <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-bar-chart-box-line"></i>
                        <h3><a class="text-dark text-decoration-none" href="#about">Sobre o Projeto</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <i class="ri-paint-brush-line"></i>
                        <h3><a class="text-dark text-decoration-none" href="#features" style=" color: #ffc451;">Ferramentas</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="{{ url_for('static', filename='img/ToDoIcon.png') }}" class="img-fluid" alt="" style="margin-left: 20vh; margin-top: 5vh;">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                        <h2>Sobre o projeto</h2>
                        <p class="fst-italic">
                            Esta aplicação é o resultado de um trabalho para a disciplina de Programação para a Web, ministrada por Hudson Borges,
                            na FACOM, UFMS.
                            Ela foi pensada e desenvolvida como uma ferramenta simples e eficiente para o seu propósito. Acreditamos ter alcançado
                            esse objetivo, e sem abrir mão da segurança e beleza de uma aplicação web moderna.
                        </p>
                        <h3> Algumas características:</h3>
                        <p>
                            Foi utilizado o padrão MVC, uma vez que o flask foi pensado para funcionar dessa forma.
                            Os fomulários possuem validadores de dados, tais como de email, campos obrigatórios, tamanho mínimo e máximo.
                            Os fomulários de cadastro e login possuem verificação de usuário já existente, senha incorreta, avisando ao usuário
                            especificamente o que aconteceu durante uma falha de cadastro ou login.
                            Usuários não conseguem acessar, modificar, nem excluir listas e tarefas de outros usuários.
                            <a class="text-decoration-none" href="{{ url_for('cadastro') }}">Cadastre-se</a> agora mesmo e teste nossa aplicação!
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->


        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="image col-lg-6" style="background-image: url({{ url_for('static', filename='img/homeBackground.png') }})" data-aos="fade-right"></div>
                    <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                            <h2>Sobre as ferramentas</h2>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-receipt"></i>
                            <h4>Front-end</h4>
                            <p>
                                Foi utilizado, majoritariamente,
                                o framework <a class="text-decoration-none" href="https://getbootstrap.com/">Bootstrap 5.0.1</a>.
                                Também implementamos estilos próprios de acordo com a necessidade, mas também evitando a repetição
                                de classes já trazidas pelo framework utilizado.
                                A parte principal da aplicação (gerenciar listas e tarefas) segue um conceito de SPA, evitando grandes
                                cargas de processamento do lado do servidor. Para tornar isso possível, utilizamos
                                <a class="text-decoration-none" href="https://jquery.com/">jQuery</a>, e muito
                                <a class="text-decoration-none" href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript">Javascript</a>.
                                Para requisições assíncronas, utilizamos
                                <a class="text-decoration-none" href="https://developer.mozilla.org/pt-BR/docs/Web/Guide/AJAX">ajax</a>.
                            </p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-receipt"></i>
                            <h4>Back-end</h4>
                            <p>Foi utilizado o micro-framework <a class="text-decoration-none" href="https://flask.palletsprojects.com/en/2.0.x/">flask</a>, na linguagem Python versão 3.9.
                                A vantagem da utilização deste micro-framework, é que a aplicação fica mais leve, devido ao fato de que
                                não há uma carga desnecessária de módulos que não são utilizados.
                                Os módulos utilizados foram:

                                <a class="text-decoration-none" href="https://flask-wtf.readthedocs.io/en/0.15.x/">Flask-WTF</a>, para manuseio de formulários.

                                <a class="text-decoration-none" href="https://flask-login.readthedocs.io/en/latest/">Flask-Login</a>, para gerenciamento de login.

                                <a class="text-decoration-none" href="https://flask-bcrypt.readthedocs.io/en/latest/">Flask-Bcrypt</a>, para encriptar senhas.

                                <a class="text-decoration-none" href="https://docs.peewee-orm.com/en/latest/">Peewee</a>, para mapeamento objeto-relacional.

                                Vale destacar que a template engine utilizada pelo flask é o
                                <a class="text-decoration-none" href="https://jinja.palletsprojects.com/en/3.0.x/">Jinja2</a>, e a
                                <a class="text-decoration-none" href="https://wsgi.readthedocs.io/en/latest/what.html">WSGI</a> é implementada pela biblioteca
                                <a class="text-decoration-none" href="https://palletsprojects.com/p/werkzeug/">Werkzeug</a>.
                                O banco de dados utilizado foi o
                                <a class="text-decoration-none" href="https://www.sqlite.org/index.html">SQLite3</a>,
                                devido a ausência da necessidade de um servidor.
                                Também, como a aplicação não exige um banco robusto, esta foi a melhor opção.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Features Section -->

        <!-- ======= Tools Section ======= -->
        <section id="tools" class="clients">
            <div class="container" data-aos="zoom-in">
                <div class="clients-slider swiper-container">
                    <div class="swiper-wrapper align-items-md-stretch">
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/tools/tool-1.png') }}" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/tools/tool-2.png') }}" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/tools/tool-3.png') }}" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/tools/tool-4.png') }}" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/tools/tool-5.jpg') }}" class="img-fluid" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Tools Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Grupo</h2>
                    <p>Integrantes:</p>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-info">
                                <h4>Demetrius Panovitch</h4>
                                <a class="text-decoration-none" href="mailto:demetrius.panovitch@ufms.br">demetrius.panovitch@ufms.br</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                            <div class="member-info">
                                <h4>Maria Luísa B. C. Silva</h4>
                                <a class="text-decoration-none" href="mailto:maria_luisa@ufms.br">maria_luisa@ufms.br</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="300">
                            <div class="member-info">
                                <h4>Denison Barbosa</h4>
                                <a class="text-decoration-none" href="mailto:denison@ufms.br">denison@ufms.br</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="member-info">
                                <h4>Caio Rosa</h4>
                                <a class="text-decoration-none" href="mailto:caio@ufms.br">caio@ufms.br</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Team Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>



{% endblock content %}